@charset "UTF-8";
@import "./normalize.scss";
@import "compass";

/* --------------------------------------------------
  Skins
-------------------------------------------------- */
/*text color*/
$textColorBlue    : #09c;

/*text size*/
$defaultFontSize  : 14px;
$headlineFontSize : 24px;

/* --------------------------------------------------
  Mixins
-------------------------------------------------- */
@mixin closeText(){
  color: $textColorBlue;
  font-weight: bold;
  cursor: pointer;
}
/* --------------------------------------------------
 layout style
-------------------------------------------------- */

body{
  font-size:$defaultFontSize;
  line-height:1.5;
  margin:0;
  padding:0;
  color:#666;
  background-color:#fff;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  -webkit-text-size-adjust:none;
}

.header{
  width:100%;
  height:39px;
  border-bottom:1px solid #eee;
  @include pie-clearfix;
}

.logo{
  font-size:20px;
  font-weight:300;
  margin:5px 0 0 10px;
  color:$textColorBlue;
  float:left;
}

.sen{
  font-size:$defaultFontSize;
  margin:10px 0 0 10px;
  float:left;
}

.social{
  width:350px;
  float:right;
  list-style:none;
  margin:10px 0 0;
  padding:0;

  li{
    float:left;
    width:100px;
    margin-right:20px;
    }

  li:last-child{
    margin-right:0;
    margin-left:-20px;
  }
}

.contentPick{
  width:100%;
  min-width:980px;
  background-image:url(../img/imagepick_r_bg.png), url(../img/imagepick_l_bg.png);
  background-repeat:no-repeat, no-repeat;
  background-position:right top, left top;
  background-color:#f7f8f9;
  border-bottom:1px solid #ccc;
}

.contentPath{
  width:100%;
  min-width:980px;
  background-color:#fff;
  border-bottom:1px solid #ccc;
}

.innerPick{
  width:920px;
  margin:0 auto;
  padding:0 30px;
  text-align:center;
  background:url(../img/imagepick.png) center bottom no-repeat;
  padding-bottom:345px;
}

.innerPath{
  width:920px;
  margin:0 auto;
  padding:0 30px;
  text-align:center;
  background:url(../img/pathcon.png) center bottom no-repeat;
  padding-bottom:345px;
}

.hl01{
  font-size:58px;
  font-weight:300;
  line-height:1;
  color: #09c;
  margin:0;
  padding:30px 0 20px;
}

.hl02{
  font-size:24px;
  font-weight:400;
  color:#333;
  margin:0;
}

.subLead{
  margin-bottom:20px;
}

.btnPrimary{
  display:inline-block;
  border:1px solid #08b;
  border-radius:4px;
  background-color:#09c;
  padding:8px 20px;
  color:#fff;
  font-weight:bold;
  text-align:center;
  margin-bottom:20px;
  text-decoration:none;
}

.btnPrimary:hover{
    background-color:#08b;
}

.btnDisable{
  display:inline-block;
  border:1px solid #ccc;
  border-radius:4px;
  background-color:#eee;
  padding:8px 20px;
  color:#666;
  font-weight:bold;
  text-align:center;
  margin-bottom:20px;
  text-decoration:none;
}

.footer{
  width:100%;
  text-align:center;
  margin:10px 0 30px;
}



/* --------------------------------------------------
  for extend
-------------------------------------------------- */

/* --------------------------------------------------
  Components
-------------------------------------------------- */
